
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
            </div>
        </div>
        <div class="row row-pb-md">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 mb-4 text-center">
                    <div class="product-entry border">
                        <a href="@Url.Action("Details","SanPham", new { id = @item.MaSP })" class="prod-img">
                            <img src="~/images/@item.HinhAnh" class="img-fluid" alt="Free html5 bootstrap 4 template">
                        </a>
                        <div class="desc">
                            <h2><a href="@Url.Action("Details","SanPham", new { id = @item.MaSP })">@item.TenSP</a></h2>
                            <span class="price">@string.Format("{0:0,0}", item.GiaBan) VNĐ</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>